
{% extends 'base.html' %}
{% load static %}

{% block content %}


<audio autoplay loop>
  <source src="{% static 'assets/inspirational.mp3' %}" type="audio/mpeg">
  Your browser doesn’t support audio.
</audio>



<section class="py-1">
<div class="container my-1">
  <div class="row align-items-center">

    <div class="col">
      <div class="card card border-0">
      	<video src="{% static 'assets/诚文师兄_with Pic.mp4' %}" class="object-fit-contain" autoplay muted></video>
  
      </div>
    </div>
    </div>
    </div>
</section>


<section class="py-3">
    <div class="container my-3">
        <div class="row justify-content-center">
            <div class="col-lg-6">
              <div class="col">
              <div class="card border-0">
                
                <center>     
                  <h2 class="card-title">福临宫弟子-尚诚文道长</h2>
                </center>

                  <p class="card-text">
                
              <br/><br/>

                    全真龙门派第二十四代玄裔弟子，自幼浸润家传玄学，皈依道门，现任福临宫及狮子山庙监院之职
                    深耕传统术数。其术法体系融合命理、紫微斗数，梅花易数、符箓、内丹，风水，法术等精髓，兼修香文化与正一法脉，以"去繁就简，实证为要"为核心理念，形成独特且高效的文化实践路径。 

              <br/><br/>

                    通过系统培养弟子，将道学智慧辐射至江浙人文腹地，更远播新加坡、中国台湾、马来西亚等华人文化圈，搭建起传统与现代、东方与西方的精神桥梁。其海外传道不仅限于术数技艺传授，更注重丹道哲学、香文化等中华生活美学的立体输出，使道门智慧成为国际文化交流的活态载体。
              <br/><br/>
              </p>            
                </div>
               </div>  
            </div>
        </div>
    </div>
</section>

<br/><br/><br/><br/><br/><br/><br/><br/>





{% endblock %}